@model TGV.IPEFAE.Web.BL.Data.ColaboradorModel
@{ Layout = "~/Views/Shared/_DadosColaborador.cshtml"; }

<script>
    $(function(){
        urlVoltar = '@Url.Content("~/Admin/Colaborador")';
    });
</script>

<input type="hidden" id="hdnIsAdmin" value="1" />

<fieldset class="area_adm" ng-show="colaborador.id > 0">
    <legend>Área Administrativa</legend>
    <div class="row">
        <div class="col-md-6">
            <label>Senha</label><br />
            <input type="password" style="width: 50%;" readonly class="form-control" name="senhaAdmin" id="txtSenhaAdmin" ng-model="colaborador.senhaDescriptografada" />
            <input id="chkVer" type="checkbox" onclick="exibirSenha()" />Exibir Senha
        </div>
    </div>
</fieldset>
<br />