@{ Layout = "~/Views/Shared/_LayoutList.cshtml"; }
<script src="@Url.Content("~/Scripts/Views/Colaborador.js?v=" + TGV.IPEFAE.Web.App.Controllers.BaseController.VersionNumber)"></script>
<script>
    var urlDataTable = '@Url.Content(String.Format("~/Scripts/language/dataTables.{0}.txt", TGV.IPEFAE.Web.Resources.Shared.Listas.IdiomaDataTable))';

    $(function () { iniciarTelaListaColaboradores(); });
</script>

<h2 class="titulo">Lista Colaboradores Cadastrados <a href="@Url.Content("~/Admin/Colaborador/Cadastro")">+ Adicionar Colaborador</a> </h2>
<div class="lista table-responsive"></div>
