<!DOCTYPE html>
<html class="no-js" lang="pt-br">
<head>
    <style>
        body {
            margin: 0;
            overflow: hidden;
            margin-top: -50px;
        }

        iframe {
            display: block;
            background: #000;
            border: none;
            height: 100vh;
            width: 100vw;
        }
    </style>
</head>
<body>
    <iframe id="iframeBoletoBB" src="|*|URL|*|" frameborder="0"></iframe>
</body>
</html>
