@using TGV.IPEFAE.Web.Resources.Admin.Concurso;
@model TGV.IPEFAE.Web.App.Models.ConcursoModel

@if (Model.ExibirAlertaIsencao)
{
    <div class="info">@String.Format(Cadastro.AlertaRecursoIsencao, Model.DataInicioRecursoAtual, Model.DataFimRecursoAtual)</div>
}
else if (Model.ExibirAlertaRecurso)
{
    <div class="info">@String.Format(Cadastro.AlertaRecurso, Model.DataInicioRecursoAtual, Model.DataFimRecursoAtual)</div>
}