@model List<TGV.IPEFAE.Web.BL.Data.ConcursoFuncaoModel>

<table id="tblFuncoes" class="table table-striped table-bordered table-hover" summary="Lista de Funções" ng-show="concurso.funcoes.length > 0">
    <thead>
        <tr>
            <th scope="col" style="display: none;">#</th>
            <th scope="col">Função</th>
            <th scope="col">Valor Líquido</th>
            <th scope="col" style="width: 60px;"></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="funcao in concurso.funcoes">
            <td>
                <div class="tooltip-error">
                    <input type="text" ng-model="funcao.funcao" class="form-control ipt-funcao" ng-class="funcao.modoEdicao ? '' : 'input-as-span'" maxlength="100" ng-readonly="!funcao.modoEdicao" required />
                    <span class="tooltiptext" ng-class="funcao.funcao_enabled ? '' : 'hidden'">O nome da função é obrigatório</span>
                </div>
            </td>
            <td>
                <div class="input-group">
                    <span class="input-group-addon" ng-class="funcao.modoEdicao ? '' : 'input-as-span'">R$</span>
                    <input type="text" ng-model="funcao.valor_liquido" ui-number-mask ng-blur="funcao_valor_liquido(funcao)" class="form-control ipt-valor_liquido" ng-class="funcao.modoEdicao ? '' : 'input-as-span'" ng-readonly="!funcao.modoEdicao" required />
                </div>
            </td>
            <td class="text-center" style="cursor: pointer; vertical-align: middle;">
                <div class="fas fa-lg fa-save" title="Salvar" ng-show="funcao.modoEdicao" ng-click="funcao_salvar(funcao)"></div>
                <div class="fas fa-lg fa-times" title="Cancelar" ng-show="funcao.modoEdicao" ng-click="funcao_editar(funcao, false)"></div>
                <div class="fas fa-lg fa-edit" title="Editar" ng-show="!funcao.modoEdicao" ng-click="funcao_editar(funcao, true)"></div>
                <div class="fas fa-lg fa-trash-alt" title="Excluir" ng-show="!funcao.temAssociacao && !funcao.modoEdicao" ng-click="funcao_excluir(funcao.id)"></div>
            </td>
        </tr>
    </tbody>
</table>
<table class="table table-striped table-bordered table-hover" summary="Nenhuma função foi encontrada" ng-show="concurso.funcoes.length <= 0">
    <thead>
        <tr>
            <th id="funcaoNaoEncontrada" scope="col" ng-show="concurso.id > 0">Nenhuma função foi encontrada</th>
            <th id="funcaoNaoEncontradaSemConcurso" scope="col" ng-show="concurso.id <= 0">Salve o concurso para adicionar funções</th>
        </tr>
    </thead>
</table>
