@using TGV.IPEFAE.Web.Resources.Error;
@model System.Web.Mvc.HandleErrorInfo
@{ Layout = "~/Views/Shared/_LayoutLogado.cshtml"; }

<link href="@Url.Content("~/Content/Error.css?v=" + TGV.IPEFAE.Web.App.Controllers.BaseController.VersionNumber)" rel="stylesheet" type="text/css">
<script>
    $(function () { $('.ulDeslogado').hide(); setTimeout(function () { window.location.href = homePage }, 3000); $('.navbar-custom.logado').removeClass('logado'); });
</script>
<section id="Error" class="error unauthorized">
    <div class="mensagem">
        <h2>@UnauthorizedAccess.Titulo</h2>
        <h3>@UnauthorizedAccess.AvisoPrincipal</h3>
        <h3>@UnauthorizedAccess.AvisoSecundario</h3>
    </div>
</section>