@using TGV.IPEFAE.Web.Resources.Shared
@model TGV.IPEFAE.Web.BL.Data.ColaboradorModel
@{ Layout = "~/Views/Shared/_LayoutLogado.cshtml"; }
<link href="@Url.Content("~/Content/Colaborador.css?v=" + TGV.IPEFAE.Web.App.Controllers.BaseController.VersionNumber)" rel="stylesheet" type="text/css">
<script src="@Url.Content("~/Scripts/Views/Colaborador.js?v=" + TGV.IPEFAE.Web.App.Controllers.BaseController.VersionNumber)"></script>

<script>
    var urlVoltar = '@Url.Content("~/Colaborador")';
    
    $(function () { iniciarTelaCadastroColaborador(); });
</script>

<section>
    <div class="modal fade modal-senha" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="row senha" style="padding: 10px; margin: 0px;">
                    <div class="col-md-12 modal-senha-white">
                        <form class="frmSenha" method="post">
                            <div class="row">
                                <div class="col-md-12">
                                    <label style="font-size: 12px;">Digite sua senha para realizar seu cadastro</label>
                                </div>
                            </div>
                            <div class="row" style="margin-top: 10px;">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="password" class="form-control" name="senha" id="txtSenha" placeholder="Digite sua senha aqui" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="password" class="form-control" name="confirmacaoSenha" id="txtConfirmacaoSenha" placeholder="Confirme sua senha" />
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <input type="button" name="btnCancelar" id="btnCancelar" class="btn btn-personal1 btn-lg" value="Cancelar" onclick="$('.modal-senha').modal('hide');" />
                                    <input type="submit" name="btnConfirmar" id="btnConfirmar" class="btn btn-success btn-lg" value="Confirmar" />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<h2 class="titulo">Cadastro de Colaborador <a href="javascript:void(0)" ng-if="id > 0">Alterar Senha</a></h2> 

<div class="container marginBottom-30" ng-controller="colaboradorController">
    @RenderBody()
    <div class="row centro">
        <form id="colCadastroForm" name="colCadastroForm" class="colCadastroForm form-validate" novalidate="">
            <fieldset>
                <legend>Dados Pessoais</legend>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group" ng-class="{'has-error': errorList.nome.enable}">
                            <label>Nome Completo</label><em>*</em>
                            <input type="text" class="form-control" name="nome" id="txtNomeCompleto" ng-model="nome" maxlength="100" required uib-tooltip="{{getErrorMessage('nome', ['O nome é obrigatório'])}}" tooltip-placement="top" tooltip-is-open="errorList.nome.enable" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group" ng-class="{'has-error': errorList.email.enable}">
                            <label>E-mail</label><em>*</em>
                            <input type="email" class="form-control text-lowercase" name="email" id="txtEmail" ng-model="email" maxlength="100" required uib-tooltip="{{getErrorMessage('email', ['O e-mail é obrigatório', 'Formato do e-mail inválido'])}}" tooltip-placement="top" tooltip-is-open="errorList.email.enable" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group" ng-class="{'has-error': errorList.cpf.enable}">
                            <label>CPF</label><em>*</em>
                            <input type="text" class="form-control" name="cpf" id="txtCPF" ui-br-cpf-mask ui-validate="{cpfJaExiste:'verificarCPFJaExiste($value)'}" ng-model="cpf" maxlength="14" required uib-tooltip="{{getErrorMessage('cpf', ['O CPF é obrigatório', 'Formato do CPF inválido', 'Este CPF já está vinculado a outro usuário'])}}" tooltip-placement="top" tooltip-is-open="errorList.cpf.enable" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group" ng-class="{'has-error': errorList.rg.enable}">
                            <label>RG</label><em>*</em>
                            <input type="text" class="form-control" name="rg" id="txtRG" ng-model="rg" maxlength="20" required uib-tooltip="{{getErrorMessage('rg', ['O RG é obrigatório'])}}" tooltip-placement="top" tooltip-is-open="errorList.rg.enable" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Data Nascimento</label> <span id="idade" ng-model="idade"></span><em>*</em>
                            <div class="form-group">
                                <input type="text" class="form-control" name="dataNasc" id="txtDataNascimento" ng-model="data_nascimento_formatada" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Estado Civil</label><em>*</em>
                            <select id="ddlEstadoCivil" name="estadocivil" class="form-control" ng-model="estado_civil">
                                <option value="C">Casado</option>
                                <option value="D">Divorciado</option>
                                <option value="S" selected>Solteiro</option>
                                <option value="V">Viuvo</option>
                                <option value="O">Outros</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group" ng-class="{'has-error': errorList.sexo.enable}">
                            <label>Sexo</label><em>*</em>
                            <select id="ddlSexo" name="sexo" class="form-control" ng-model="sexo_masculino" required uib-tooltip="{{getErrorMessage('sexo', ['O gênero é obrigatório'])}}" tooltip-placement="top" tooltip-is-open="errorList.sexo.enable">
                                <option value=""></option>
                                <option value="false">Feminino</option>
                                <option value="true">Masculino</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group" ng-class="{'has-error': errorList.grau_instrucao.enable}">
                            <label>Grau Instrução</label><em>*</em>
                            <select id="ddlGrauInstrucao" name="grau_instrucao" class="form-control" ng-model="grau_instrucao" required uib-tooltip="{{getErrorMessage('grau_instrucao', ['O grau de instrução é obrigatório'])}}" tooltip-placement="top" tooltip-is-open="errorList.grau_instrucao.enable"></select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group" ng-class="{'has-error': errorList.raca.enable}">
                            <label>Raça</label><em>*</em>
                            <select id="ddlRaca" name="raca" class="form-control" ng-model="raca" required uib-tooltip="{{getErrorMessage('raca', ['A raça é obrigatória'])}}" tooltip-placement="top" tooltip-is-open="errorList.raca.enable"></select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group" ng-class="{'has-error': errorList.telefone.enable}">
                            <label>Telefone</label><em>*</em>
                            <input type="text" class="form-control" name="telefone" id="txtTelefone" ng-model="telefone_01_formatado" required  uib-tooltip="{{getErrorMessage('telefone', ['O telefone é obrigatório', 'Formato do telefone inválido'])}}" tooltip-placement="top" tooltip-is-open="errorList.telefone.enable" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Outro Telefone</label>
                            <input type="text" class="form-control" name="celular" id="txtCelular" ng-model="telefone_02_formatado" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>PIS, PASEP ou NET</label><em>*</em>
                            <input type="text" class="form-control" name="pisPasepNet" id="txtPisPasepNet" ng-model="pis_pasep_net" maxlength="11" required />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Nro Carteira Trabalho</label><em>*</em>
                            <input type="text" class="form-control" maxlength="50" name="carteiraTrabalhoNumero" id="txtCarteiraTrabalhoNumero" ng-model="carteira_trabalho_nro" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Série Carteira de Trabalho</label><em>*</em>
                            <input type="text" class="form-control" name="carteiraTrabalhoSerie" id="txtCarteiraTrabalhoSerie" ng-model="carteira_trabalho_serie" maxlength="50" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Estado Carteira de Trabalho</label><em>*</em>
                            <select id="ddlCarteiraTrabalhoUF" name="carteiraTrabalhoUF" class="form-control" ng-model="carteira_trabalho_uf"></select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Nro Título Eleitor</label><em>*</em>
                            <input type="text" class="form-control" maxlength="50" name="tituloEleitorNumero" id="txtTituloEleitorNumero" ng-model="titulo_eleitor_nro" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Zona Título Eleitor</label><em>*</em>
                            <input type="text" class="form-control" name="tituloEleitorZona" id="txtTituloEleitorZona" ng-model="titulo_eleitor_zona" maxlength="50" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Seção Título Eleitor</label><em>*</em>
                            <input type="text" class="form-control" name="tituloEleitorSecao" id="txtTituloEleitorSecao" ng-model="titulo_eleitor_secao" maxlength="50" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Nacionalidade</label><em>*</em>
                            <input type="text" class="form-control" name="nacionalidade" id="txtNacionalidade" ng-model="nacionalidade" maxlength="50" required />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Naturalidade - Estado</label><em>*</em>
                            <select id="ddlNaturalidadeUF" name="naturalidadeEstado" class="form-control" ng-model="naturalidade.estado" required></select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Naturalidade - Cidade</label><em>*</em>
                            <select id="ddlNaturalidadeCidade" name="naturalidadeCidade" class="form-control" ng-model="naturalidade.cidade" required></select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Nome Mãe</label><em>*</em>
                            <input type="text" class="form-control" name="nome_mae" id="txtNomeMae" ng-model="nome_mae" maxlength="100" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Nome Pai</label><em>*</em>
                            <input type="text" class="form-control" name="nome_pai" id="txtNomePai" ng-model="nome_pai" maxlength="100" />
                        </div>
                    </div>
                </div>
            </fieldset>
            <br />
            <fieldset>
                <legend>Dados Endereço</legend>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Logradouro</label><em>*</em>
                            <input type="text" class="form-control" name="logradouro" id="txtLogradouro" ng-model="endereco_logradouro" maxlength="500" required />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Número</label><em>*</em>
                            <input type="text" class="form-control" name="nroEndereco" id="txtNroEndereco" ng-model="endereco_nro" maxlength="10" required />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Complemento</label>
                            <input type="text" class="form-control" name="complemento" id="txtComplemento" ng-model="endereco_complemento" maxlength="100" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Bairro</label><em>*</em>
                            <input type="text" class="form-control" name="bairro" id="txtBairro" ng-model="endereco_bairro" maxlength="100" required />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>CEP</label><em>*</em>
                            <input type="text" class="form-control" name="cep" id="txtCEP" ng-model="endereco_cep" maxlength="9" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Estado</label><em>*</em>
                            <select id="ddlEstado" name="estado" class="form-control" ng-model="endereco_estado" required></select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Cidade</label><em>*</em>
                            <select id="ddlCidade" name="cidade" class="form-control" disabled ng-model="endereco_cidade" required></select>
                        </div>
                    </div>
                </div>
            </fieldset>
            <br />
            <fieldset>
                <legend>Dados Bancários</legend>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Banco</label><em>*</em>
                            <select id="ddlBanco" name="banco" class="form-control" ng-model="banco" required></select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Agência</label><em>*</em>
                            <input type="text" class="form-control" name="agencia" id="txtAgencia" ng-model="agencia" maxlength="4" required />
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Dígito</label><em>*</em>
                            <input type="text" class="form-control" name="agenciaDigito" id="txtAgenciaDigito" ng-model="agencia_digito" maxlength="1" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Conta Corrente</label><em>*</em>
                            <input type="text" class="form-control" name="contaCorrente" id="txtContaCorrente" ng-model="conta_corrente" maxlength="20" required />
                        </div>
                    </div>
                </div>
            </fieldset>
            <br />
            <div class="row col-botoes text-center">
                <input type="button" name="btnVoltar" id="btnVoltar" class="btn btn-personal1 btn-lg" value="Voltar" onclick="window.location.href = urlVoltar;" />
                <input type="button" name="btnSalvar" id="btnSalvar" class="btn btn-success btn-lg" value="Salvar" ng-click="salvar()" />
            </div>
        </form>
    </div>
</div>
