<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <connectionStrings>
    <add name="IPEFAEEntities" connectionString="metadata=res://*/Data.IPEFAEModel.csdl|res://*/Data.IPEFAEModel.ssdl|res://*/Data.IPEFAEModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=NOTE-THIAGO\SQLEXPRESS;initial catalog=tgv_prd_ipefae;persist security info=True;user id=prd_fae_usr;password=Ip3F@32015;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <!--<add name="IPEFAEEntities" connectionString="metadata=res://*/Data.IPEFAEModel.csdl|res://*/Data.IPEFAEModel.ssdl|res://*/Data.IPEFAEModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=h1xqbf7ffg.database.windows.net;initial catalog=tgv_prd_ipefae;persist security info=True;user id=prd_fae_usr;password=Ip3F@32015;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
</configuration>
