.contactForm .form-control-feedback.glyphicon               { cursor: pointer; float: right; right: 10px; }

.contactForm .mensagemEnviada                               { background-color: rgba(255, 255, 255, 0.4); border-radius: 4px; padding: 16px; -moz-border-radius: 4px; -webkit-border-radius: 4px; -khtml-border-radius: 4px; }
.contactForm .mensagemEnviada .icons                        { float: left; }
.contactForm .mensagemEnviada span                          { color: #fff; font-size: 20px; margin-left: 20px; }

.contactForm .botao                                         { margin-bottom: 50px; margin-top: 20px; }

.modal-contato .mensagem textarea                           { height: 80px; }
.modal-contato .sliderContent                               { display: none; }
.modal-contato h2.section-heading                           { margin-top: 15px; }
.modal-contato h3.section-subheading                        { margin-bottom: 25px; }
.modal-contato .contactForm .botao                          { margin-bottom: 20px; }
.modal-contato .contactForm .mensagemEnviada                { background-color: rgba(0, 0, 0, 0.4); padding: 8px; }
.modal-contato .contactForm .mensagemEnviada .icons         { margin-top: -3px; }
.modal-contato .contactForm .mensagemEnviada span           { font-size: 14px; }

.modal-contato .contactForm .form-control-feedback.glyphicon { position: relative; top: -25px; }
.modal-contato .contactForm div.mensagem .form-control-feedback.glyphicon { top: -75px; }


@media only screen and (max-device-width: 480px)
{
    .contactForm .sliderContent h2 span { font-size: 20px; }
}