@{
    ViewBag.Title = "Neotrading";
    Layout = "~/Views/Shared/_LayoutDeslogado.cshtml";
}

<style>
    h2 {
        margin-top: 60px;
    }

    div {
        margin-bottom: 30px;
    }

        div > input {
            margin-top: 10px;
        }
</style>

<script src="@Url.Content("~/Scripts/Views/NeoTrading.js?v=" + TGV.IPEFAE.Web.App.Controllers.BaseController.VersionNumber)"></script>

<h2>Neotrading</h2>

<div>
    <input type="text" id="txtCodigo" placeholder="Código Planilha" /> <br />
    <input type="button" id="btnObterSenha" value="Obter Senha" onclick="obterSenha()" />
    <br />
    <span id="lblSenhaGerada"></span>
</div>